body{
    background-color: rgb(255, 208, 80);
    font-family:Helvetica;
}
header{
    display:flex;
    min-height:120px;  
}
.logo{
    display:flex;
    text-align:center;
    width:30%

}
h1{
    display:flex;
    text-align:center;
    font-size:40px;
  
}
h2{
    display:flex;
    font-size:30px;
    margin:40px;
}
h3{
    display:flex;
    font-size:25px;
}
p{
    display:flex;
    font-size:16px;
}


